thead tr th {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #ffffff;
        }

.table .sticky{
    position: sticky;
    left: 0px;
}

.table .sticky2{
    position: sticky;
    left: 83px;
}

.table .sticky3{
    position: sticky;
    left: 188px;
}


.table .basicas{
    background-color: rgb(33, 228, 184);
}

.table .llegadas{
    background-color: rgb(185, 134, 213);
}

.table .reparacion{
    background-color:rgb(213, 134, 191 ) ;
}

.table .atencion{
    background-color: rgb(201, 176, 85 );
}

.table .interrupcion{
    background-color:rgb(99, 222, 84 ) ;
}

.table .estadisticas{
    background-color:rgb(240, 164, 23 ) ;
}


.table .clientes{
    background-color:rgb(220, 247, 26 ) ;
}

.table .zapatos{
    background-color:rgb(81, 93, 231 ) ;
}

.table .zapatero{
    background-color:rgb(141, 137, 153 ) ;
}

.table .eventos{
    background-color:rgb(252, 241, 10 ) ;
}


.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #00000; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #FFCC10; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 10px;
    right: 0px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}